<div class="row">
    <div class="col-12">
        <button type="button" id="downloadNewsForRBC" class="btn btn-sm btn-success downloadNewsForRBC"><i class='fas fa-refresh'></i> Download news from RBC</button>
    </div>
</div>