.row-section {
	float: left;
	width: 100%;
	background: #f0f0f0;
	/* fallback for old browsers */
}

.row-section h2 {
	float: left;
	width: 100%;
	color: #4e4e4e;
	margin-bottom: 30px;
	font-size: 14px;
}

.row-section h2 span {
	font-family: 'Libre Baskerville', serif;
	display: block;
	font-size: 45px;
	text-transform: none;
	margin-bottom: 20px;
	margin-top: 30px;
	font-weight: 700;
}

.row-section h2 a {
	color: #d2abce;
}

.row-section .row-block {
	background: #fff;
	padding: 20px;
}

.row-section .row-block ul {
	margin: 0;
	padding: 0;
}

.row-section .row-block ul li {
	list-style: none;
	margin-bottom: 20px;
}

.row-section .row-block ul li:last-child {
	margin-bottom: 0;
}

.row-section .row-block .media {
	border: 1px solid #d5dbdd;
	padding: 5px 20px;
	border-radius: 5px;
	box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.04);
	background: #fff;
}

.row-section .media .media-left img {
	width: 75px;
}

.row-section .media .media-body p {
	padding: 0 15px;
	font-size: 14px;
}

.row-section .media .media-body h4 {
	color: #4e4e4e;
	font-size: 18px;
	font-weight: 600;
	margin-bottom: 0;
	padding-left: 14px;
	margin-top: 12px;
}

.btn-default {
	background: #4e4e4e;
	color: #fff;
	border-radius: 30px;
	border: none;
	font-size: 16px;
}

.fa-spin {
	margin: 0 auto;
}

body {
	background-color: #f0f0f0;
}


.none {
	display: none;
}

body {
	background: rgba(0, 102, 255, 0.38);
	font-family: sans-serif;
}

p {
	margin: 0 0 5px;
}

.article {
	background: #FFF;
	border: 1px solid rgba(0, 89, 181, 0.82);
	width: 600px;
	margin: 0 0 5px;
	box-shadow: 2px 2px 5px -1px rgb(0, 81, 202);
	padding: 3px 5px;
}

.news__author {
	text-decoration: underline;
	color: #007DDC;
}

.news__count {
	margin: 10px 0 0 0;
	display: block;
}

.test-input {
	margin: 0 5px 5px 0;
	}

	.add {
		margin: 0 5px 5px 0;
		width: 210px;
		border: 1px dashed rgba(0, 89, 181, 0.82);
		padding: 5px;
		}
		.add__author, .add__text, .add__btn, .add__checkrule {
		display: block;
		margin: 0 0 5px 0;
		padding: 5px;
		width: 94%;
		border: 1px solid rgba(0, 89, 181, 0.82);
		}
		.add__checkrule {
		border: none;
		font-size: 12px;
		}
		.add__btn {
		box-sizing: content-box;
		color: #FFF;
		text-transform: uppercase;
		background: #007DDC;
		}
		.add__btn:disabled {
		background: #CCC;
		color: #999;
		}